{
  # Use Cloudflare DNS-01 ACME challenge for all hosts
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}

  # Trust Cloudflare proxies so client IPs are preserved
  # when using Cloudflare
  servers {
    trusted_proxies cloudflare
    client_ip_headers Cf-Connecting-Ip
  }
}

mathesar.hl.srdego.com {
  reverse_proxy mathesar:8000
}

jellyfin.hl.srdego.com {
  reverse_proxy jellyfin:8096
}

qbittorrent.hl.srdego.com {
  reverse_proxy qbittorrent:8080
}