networks:
  reverse-proxy:
    external: true

volumes:
  gramps-users:
    external: true
  gramps-index:
    external: true
  gramps-thumb-cache:
    external: true
  gramps-cache:
    external: true
  gramps-secret:
    external: true
  gramps-db:
    external: true
  gramps-media:
    external: true
  gramps-tmp:
    external: true

services:
  grampsweb: &grampsweb
    image: ghcr.io/gramps-project/grampsweb:25.12.0
    container_name: grampsweb
    environment:
      GRAMPSWEB_TREE: "Gramps Web"
      GRAMPSWEB_CELERY_CONFIG__broker_url: "redis://redis:6379/0"
      GRAMPSWEB_CELERY_CONFIG__result_backend: "redis://redis:6379/0"
      GRAMPSWEB_RATELIMIT_STORAGE_URI: redis://redis:6379/1
    depends_on:
      - redis
    volumes:
      - gramps-users:/app/users
      - gramps-index:/app/indexdir
      - gramps-thumb-cache:/app/thumbnail_cache
      - gramps-cache:/app/cache
      - gramps-secret:/app/secret
      - gramps-db:/root/.gramps/grampsdb
      - gramps-media:/app/media
      - gramps-tmp:/tmp
    labels:
      traefik.enable: true
      traefik.http.routers.grampsweb.rule: Host(`gramps.hl.srdego.com`)
      traefik.http.routers.grampsweb.entrypoints: websecure
      traefik.http.routers.grampsweb.tls.certresolver: cloudflare-letsencrypt-acme
      traefik.http.services.grampsweb.loadbalancer.server.port: "80"
    networks:
      - reverse-proxy
    restart: unless-stopped

  celery:
    <<: *grampsweb
    container_name: celery
    ports: []
    depends_on:
      - grampsweb
      - redis
    command: celery -A gramps_webapi.celery worker --loglevel=INFO --concurrency=2
    restart: unless-stopped

  redis:
    image: docker.io/library/redis:7.2.4-alpine
    container_name: redis
    networks:
      - reverse-proxy
    restart: unless-stopped
