networks:
  reverse-proxy:
    external: true

services:
  traefik:
    image: docker.io/traefik:v3.6.7
    container_name: traefik
    environment:
      TZ: ${TZ}
      CF_DNS_API_TOKEN: ${CF_DNS_API_TOKEN}
      CF_API_EMAIL: ${CF_API_EMAIL}
    volumes:
      - /run/docker.sock:/run/docker.sock:ro
      - ./traefik.yaml:/traefik.yaml:ro
      - ./config/:/etc/traefik
      - ./certs/:/var/traefik/certs
    ports:
      - 80:80
      - 443:443
    networks:
      - reverse-proxy
    restart: unless-stopped
