networks:
  reverse-proxy:
    external: true

volumes:
  traefik-config:
    external: true
  traefik-certs:
    external: true

services:
  traefik:
    image: docker.io/traefik:v3.6.7
    container_name: traefik
    command:
      - "--global.checknewversion=false"
      - "--global.sendanonymoususage=false"
      - "--log.level=INFO"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.cloudflare-letsencrypt-acme.acme.storage=/var/traefik/certs/cloudflare-letsencrypt-acme.json"
      - "--certificatesresolvers.cloudflare-letsencrypt-acme.acme.caserver=https://acme-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.cloudflare-letsencrypt-acme.acme.dnschallenge.provider=cloudflare"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=reverse-proxy"
    environment:
      TZ: ${TZ}
      CF_DNS_API_TOKEN: ${CF_DNS_API_TOKEN}
      CF_API_EMAIL: ${CF_API_EMAIL}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-config:/etc/traefik
      - traefik-certs:/var/traefik/certs
    ports:
      - 80:80
      - 443:443
    networks:
      - reverse-proxy
    restart: unless-stopped
